<% content_for(:title) { 'Students' } %>

<div class="row">
	<div class="span well">
		<div class="span12">
			<h2>Edit a student</h2>
		</div>
		<%= form_for(@student) do |f| %>

			<div class="span5">
				<%= f.label :first_name, "First Name" %>
				<%= f.text_field :first_name %>

				<%= f.label :last_name, "Last Name" %>
				<%= f.text_field :last_name %>

				<%= f.label :dob, "Date of Birth" %>
				<%= f.date_select(:dob, :start_year => Time.now.year - 5, :end_year => Time.now.year - 40, :order => [:day, :month, :year]) %>
			</div>

			<div class="span5">


				<%= f.label :grade, "Grade" %>
				<%= f.text_field :grade %>

				<%= f.label :institute, "School/College" %>
				<%= f.text_field :institute %>

			</div>

			<div class="span12">
				<%= f.submit "Save", class: "tiny submit button", id: "save_student" %>
				<%= link_to "Cancel", student_path(@student.id), id: "create_student_cancel", class: 'tiny cancel button' %>
		<% end %>
		</div>

	</div>
</div>
</div>