<% content_for(:title) { 'Add a new student' } %>

<div class="row">
	<div class="span well">
		
		<%= form_for(@student) do |f| %>

			<% if f.object.errors.any? %>
			  <div id="error_explanation">
			    <div class="alert alert-error">
			      The form contains <%= pluralize(f.object.errors.count, "error") %>.
			    </div>
			    <ul>
			    <% f.object.errors.full_messages.each do |msg| %>
			      <li>* <%= msg %></li>
			    <% end %>
			    </ul>
			  </div>
			<% end %>


			<div class="span5">
				<%= f.label :first_name, "First Name" %>
				<%= f.text_field :first_name %>

				<%= f.label :last_name, "Last Name" %>
				<%= f.text_field :last_name %>

				<%= f.label :dob, "Date of Birth" %>
				<%= f.date_select(:dob, :start_year => Time.now.year - 5, :end_year => Time.now.year - 40, :order => [:day, :month, :year]) %>
			</div>

			<div class="span5">


				<%= f.label :grade, "Grade" %>
				<%= f.text_field :grade %>

				<%= f.label :institute, "School/College" %>
				<%= f.text_field :institute %>

			</div>

			<div class="span12">
				<%= f.submit "Save", class: "tiny submit button", id: "create_student" %>
				<%= link_to "Cancel", students_path, id: "create_student_cancel", class: 'tiny cancel button' %>
		<% end %>
		</div>

	</div>
</div>
</div>