<% content_for(:title) { 'Students' } %>

<div id="student_details" class="row">
	<div class="span well">
		<div class="span12">
			<h2>view a student</h2>
		</div>

		<div class="span5">
			<div>Name : <span id="student_name"><%= "#{@student.first_name} #{@student.last_name}" %></span></div>
			<div>Date Of Birth : <span id="student_dob"><%= @student.dob.strftime("%d/%m/%Y") if @student.dob %></span></div>
			<div>Grade : <span id="student_grade"><%= @student.grade %></span></div>
			<div>School/College : <span id="student_institute"><%= @student.institute %></span></div>
		</div>
	</div>

	<%= link_to "Edit Student", edit_student_path(@student.id), id: "edit_student_link", class: 'tiny submit button' %>
</div>