<div id="photo" class="left-section" style="text-align: center; margin: 0 20px;">
  <% if student.photo.blank? %>
    <%= image_tag('http://s3.amazonaws.com/37assets/svn/765-default-avatar.png', size: '200x200') %>
  <% else %>
    <%= image_tag(student.photo) %>
  <% end %>

  <div>
    <a href="#" id="show-upload">Upload picture</a>
    <div id="upload">
      <%= form_tag(update_photo_admin_student_path(student), enctype: "multipart/form-data" ) do |f| %>
        <%= file_field_tag :photo %> <br/>
        <%= submit_tag "Save" %>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">
  jQuery(function($) {
    var showUpload = $('#show-upload');
    var upload = $('#upload').hide();

    showUpload.click(function() {
      upload.show();
      showUpload.hide();
    })
  });
</script>
