<% content_for(:title) { 'Sponsors' } %>
<%= link_to "Create Sponsor", new_sponsor_path, id: "sponsor_create_link", class: 'tiny button' %>

<div class="view_sponsor_list">
	<table id="sponsors" class="sponsor_list">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Current Balance
				</th>
				<th>
					Date Paid
				</th>
				<th>
					Action
				</th>
			</tr>
		</thead>
		<tbody>
			<% @sponsors.each do |sponsor| %>
			<tr class="sponsor" id="<%= "sponsor_list_item_#{sponsor.id}" %>">
				<td><%= link_to "#{sponsor.first_name} #{sponsor.last_name}", sponsor_path(sponsor.id), title:"View sponsor (#{sponsor.first_name} #{sponsor.last_name})" %></td>
				<td><%= number_to_currency sponsor.current_balance %></td>
				<td><%= sponsor.date_paid.strftime("%d/%m/%Y") if sponsor.date_paid %></td>
				<td class="action_link">
					<%= link_to "Edit", edit_sponsor_path(sponsor.id), title:"Edit sponsor (#{sponsor.first_name} #{sponsor.last_name})", class:"sponsor_edit_link" %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>