<% content_for(:title) { 'Sponsors' } %>

<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  <%= yield %>
</div>

<div class="row">
	<div class="span well"> <%= form_for(@sponsor) do |f| %>
			<div class="span12">
				<h2>Add a new sponsor</h2>
			</div>



			
			<div class="span5">
				<%= f.label :first_name, "First Name" %>
				<%= f.text_field :first_name %>

				<%= f.label :last_name, "Last Name" %>
				<%= f.text_field :last_name %>

				<%= f.label :current_balance, "Current Balance" %>
				<%= f.text_field :current_balance %>

				<%= f.label :date_paid, "Date Paid" %>
				<%= f.text_field :date_paid %>
			</div>

			<div class="span5">
				<%= f.label :address, "Address" %>
				<%= f.text_field :address %>

				<%= f.label :city, "City" %>
				<%= f.text_field :city %>

				<%= f.label :state, "State" %>
				<%= f.text_field :state %>

				<%= f.label :postcode, "Postcode" %>
				<%= f.text_field :postcode %>
			</div>

			<div class="span12">
				<%= f.submit "Save", class: "tiny submit button", id: "create_sponsor" %>
				<%= link_to "Cancel", sponsors_path, id: "create_sponsor_cancel", class: 'tiny cancel button' %>
			</div>

		<% end %></div>
</div>
</div>