<div class="details">
  <% @sponsor = Sponsor.find params[:id] %>
  <% if @sponsor.students.length == 0 %>
    <h2>This sponsor has no students</h2>
  <% else %>
    <% @sponsor.students.each do |student| %>
    <h2 class="row"><%= link_to student.full_name, admin_student_path(student.id) %></h2>
    <table class="panel">
      <tbody>
        <tr>
          <th rowspan="6">
            <%= render partial: '/admin/students/student_photo', locals: {student: student, image_type: :thumbnail} %>
          </th>
        </tr>
        <tr class="row">
          <td>Date of Birth</td>
          <td><%= student.dob %></td>
        </tr>
        <tr class="row">
          <td>Gender</td>
          <td><%= student.sex %></td>
        </tr>
        <tr class="row">
          <td>Grade</td>
          <td><%= student.grade %></td>
        </tr>
        <tr class="row">
          <td>School</td>
          <td><%= student.institute %></td>
        </tr>
        <tr class="row">
          <td>Course</td>
          <td><%= student.course_type %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>
</div>