<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="BBEF Admin Tool for Sponsors and Students" />

  
  <title>
    <%= content_for?(:title) ? yield(:title) : "Page title untitled" %> - Bagong Barrio Education Fund
  </title>

	<%# Stylesheets %>
  <%= stylesheet_link_tag 'application' %>

	<%# Global header javascript %>
  <%= javascript_include_tag 'vendor/custom.modernizr' %>

  <%= csrf_meta_tags %>
</head>

<body>

<div class="contain-to-grid">
  <nav class="top-bar">
    <%= image_tag 'logo.small.png', width: '70', alt: 'Bagong Bario Education Fund Logo', class: 'organisation_logo'%>

    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="/">BBEF</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li class="<%= controller.class == StudentsController ? 'active' : '' %>">
          <%= link_to "Students", students_path, id: "students-menu-item", class: "" %>
        </li>
        <li class="<%= controller.class == SponsorsController ? 'active' : '' %>">
          <%= link_to "Sponsors", sponsors_path, id: "sponsors-menu-item", class: "" %>
        </li>
        <li class="<%= controller.class == UploadController ? 'active' : '' %>">
          <%= link_to "Upload", view_upload_path, id: "upload-menu-item", class: "" %>
        </li>        
        <li class="divider"></li>

        <li>
          <a target="blank" href="http://www.facebook.com/group.php?gid=324220396477" id="facebook_icon_link">Facebook</a>
        </li>
      </ul>
    </section>
  </nav>
</div>

<header class="site_header">
	<%# Accessibility links %>
	<a href="#primary_nav" class="accessibility_link">Jump to site navigation</a>
	<a href="#site_contents" class="accessibility_link">Jump to site contents</a>
</header>

  <div class="site_body row">
    <% if content_for?(:title) %>
      <h3><%= yield :title %></h3>
    <% end %>


    <a name="site_contents"></a>
		
    <%= yield %>
		
  </div>

  <footer class="site_footer row">
    <div class="logo_wrapper columns small-1">
      
    </div>
    <div class="copyright_wrapper text-center">
      Copyright &copy; 2013
      <a href="http://www.bbef.org.au" title="Visit our Homepage">Bagong Barrio Education Fund</a>
    </div>
  </footer>

	<%# Global footer javascript %>
	<script type="text/javascript">
		document.write('<script src=' + ('__proto__' in {} ? '/assets/vendor/zepto' : '/assets/vendor/jquery') + '.js><\/script>');
	</script>
  <%= javascript_include_tag "foundation/foundation" %>
	<script type="text/javascript">
		$(document).foundation();
	</script>
</body>
</html>
